params{
    fastq_ext = '*_{1,2}.fq.gz'
    input_folder="./"
    designfile='sampleInfo.txt'
    out_folder= './'
    comp_file='compare.txt'

    dapath = '/data/software/DAtools.jar'
    star_index = '/data/database/human/hg38/RSEM_STAR_Index/GRCh38'
    gtf = '/data/database/human/hg38/annotation/gencode.v24.annotation.gtf'


    skip_qc=false

    singleEnd = false

}

process.cache = 'deep'
process {


    withLabel: para {
        maxForks = 1
    }

    withLabel: 'qc' {
        maxForks = 6
    }

}