// config file for run analysis in new cluster 2


params{
    dapath = '/home/zhaoqi/software/DAtools.jar'
    star_index = '/home/Public/Database/human/hg38/Gencode/RSEM_STAR_Index/GRCh38'
    gtf = '/home/Public/Database/human/hg38/Gencode/RSEM_STAR_Index/gencode.v25.annotation.gtf'
}

process.executor = 'slurm'

params {
    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus = 38
    max_time = 240.h
}