// config file for run analysis in new cluster 2


params{
    dapath = '/home/zhaoqi/software/DAtools.jar'
    star_index = '/home/Public/Database/human/hg38/Gencode/RSEM_STAR_Index/GRCh38'
    gtf = '/home/Public/Database/human/hg38/Gencode/GRCh38_gencode_v24_CTAT_lib_Mar292017/GRCh38.gtf'

    // GSEA setting
    gseapath="/home/Public/Database/human/GSEA_base/gsea/gsea-3.0.jar"
    gsea_pathway="/home/Public/Database/human/GSEA_base/gsea/GSEA_c2.all.v6.1.symbols.gmt"
}
process.executor = 'pbs'

params {
    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus = 38
    max_time = 240.h
}