// config file  template


params{
    // software setting of DAtools 
    dapath = <path to DAtools>
    
    // index setting 
    star_index = <path to RSEM star index>>
    gene_gtf = <path to gtf for bulding the star index  >>

    // GSEA setting
    gseapath= <path to GSEA jar files>
    gsea_pathway= <path to GSEA gmt file >
}

// uncomment this line if you are using a pbs cluster system
//process.executor = 'pbs'


params {
    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus = 38
    max_time = 240.h
}