// config file for run analysis in new cluster 2



params{
    dapath = '/home/zhaoqi/software/DAtools.jar'
    star_index = "$NXF_WORK/Genome/STARindex/hg38_chrX*"
    gtf = "Genome/gencode.chr22.gtf"

    // GSEA setting
    gseapath="/home/Public/Database/human/GSEA_base/gsea/gsea-3.0.jar"
    gsea_pathway="/home/Public/Database/human/GSEA_base/gsea/GSEA_c2.all.v6.1.symbols.gmt"
    
    //test data
    read= "Fastq/*_{1,2}.fastq.gz"
    designfile="design.file"
    comparefile="compare.txt"

}

params {
    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus = 38
    max_time = 240.h
}