// config file for run analysis in new cluster 2


params{
    // software setting of DAtools 
    dapath = '/data1/soft/DAtools.jar'
    
    // index setting 
    star_index = '/data1/database/human/hg38/RSEM_STAR_Index/GRCh38'
    gtf = '/data1/database/human/hg38/GRCh38.gtf'

    // GSEA setting
    gseapath="/data1/database/human/gsea/gsea/gsea-3.0.jar"
    gsea_pathway="/data1/database/human/gsea/gsea/GSEA_c2.all.v6.1.symbols.gmt"

    // set maxforknumer for alignemnt
    maxForkNum=2
}

params {
    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus = 38
    max_time = 240.h
}

