// config file for run analysis in new cluster 2


params{


    genomes {
        'GRCh38' {
        // index setting 
            star_index = '/data/database/human/hg38/RSEM_STAR_Index/GRCh38'
            gtf = '/data/database/human/hg38/GRCh38.gtf'
        }
        'mm10' {
            star_index = '/data/database/mm10/RSEM_STARIndex/gencode'
            gtf = '/data/database/mm10/gencode.vM12.annotation.gtf'
        }

    }

    // software setting of DAtools 
    dapath = '/data/software/DAtools.jar'

    // GSEA setting
    gseapath="/data/database/gsea/gsea/gsea-3.0.jar"
    gsea_pathway="/data/database/gsea/gsea/GSEA_c2.all.v6.1.symbols.gmt"

    // set maxforknumer for alignemnt
    maxForkNum=2
}

params {
    // Defaults only, expecting to be overwritten
    max_memory = 128.GB
    max_cpus = 38
    max_time = 240.h
}

